/* font-family: "ProximaNovaRegular"; */
@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ProximaNovaBold"; */
@font-face {
	font-family: "ProximaNovaBold";
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "ProximaNovaBlack"; */
@font-face {
	font-family: "ProximaNovaBlack";
	src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
	src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
	url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Scriptina"; */
@font-face {
	font-family: "Scriptina";
	src: url("../fonts/Scriptina/scriptina.eot");
	src: url("../fonts/Scriptina/scriptina.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Scriptina/scriptina.woff") format("woff"),
	url("../fonts/Scriptina/scriptina.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}

.upper {
	text-transform: uppercase;
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 1260px;
	/*background-color: red;*/
}

/*=======  header  =======*/

header {
	background: url("../img/header_bg.jpg") no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: "Alegreya", serif;
	color: #fff;
	padding-bottom: 214px;
}

header nav {
	background-color: rgba(0, 0, 0, 0.3);
}

header nav ul {
	list-style: none;
	padding-top: 30px;
	padding-bottom: 30px;
}

header nav li a {
	color: #fff;
	display: inline-block;
}

header nav li a:hover {
	color: #d0d0d0;
}

header nav ul li {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

header .logo-block {
	margin-top: 20px;
}

header .social {
	margin-left: 15px;
	margin-right: 15px;
}

header nav li:nth-child(10) {
	margin-left: 170px;
}

header h1 {
	font-size: 92px;
	text-align: center;
	margin-top: 222px;
}

header p {
	font-family: "ProximaNovaRegular";
	color: #ebeaea;
	font-size: 24px;
	text-align: center;
	margin-top: 136px;
}

header .menu-btn {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 20px 49px;
	border: 1px dashed #9e9c93;
	background-color: rgba(102, 99, 91, 0.7);
	width: 73px;
	color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 68px;
}

header .menu-btn:hover {
	background-color: rgba(90, 87, 79, 0.7);
}

/*=======  art of cakes  =======*/

.art-of-cakes {
	position: relative;
	background-image: url("../img/art_of_cakes_bg.jpg");
}

.art-of-cakes>img {
	position: absolute;
	top: -49px;
	left: 45%;
}

.art-of-cakes h2 {
	font-family: "Alegreya", serif;
	font-size: 48px;
	color: #56534c;
	text-align: center;
	margin-top: 105px;
	margin-left: 73px;
}

.art-of-cakes h6 {
	font-family: "Alegreya", serif;
	font-size: 14px;
	text-align: center;
	color: #a47d5e;
	margin-top: 10px;
	margin-left: 73px;
}

.art-of-cakes .description {
	font-family: "ProximaNovaRegular";
	font-size: 14px;
	color: #56534c;
	text-align: center;
	margin-top: 70px;
	margin-left: 73px;
}

.art-of-cakes h4 {
	font-family: "Alegreya", serif;
	font-size: 24px;
	color: #56534c;
	text-align: center;
	margin-top: 45px;
	margin-left: 73px;
}

.art-of-cakes .to-left img {
	display: block;
	margin-left: 73px;
	margin-top: 49px;
}

.art-of-cakes .to-right img {
	display: block;
	margin-top: 140px;
}

.art-of-cakes .chef-block {
	text-align: center;
	margin-top: 44px;
}

.art-of-cakes .chef-block .wrapper {
	position: relative;
}

.art-of-cakes .chef-block .wrapper .chef-name,
.art-of-cakes .chef-block .wrapper .avatar {
	display: inline-block;
}

.art-of-cakes .chef-block .wrapper .chef-name {
	font-family: "Alegreya", serif;
	font-size: 24px;
	color: #56534c;
	border-top: 1px solid #d7d5ca;
	border-bottom: 1px solid #d7d5ca;
	padding: 23px 22px 20px 22px;
}

.art-of-cakes .chef-block .wrapper .chef-name:first-child {
	margin-left: 90px;
}

.art-of-cakes .chef-block .wrapper .chef-name:last-child {
	margin-left: 120px;
}

.art-of-cakes .chef-block .wrapper .avatar {
	width: 100px;
	height: 100px;
	border: 5px solid #fff;
	border-radius: 50px;
	overflow: hidden;
	background: url("../img/chef_avatar.jpg") no-repeat center center;
	position: absolute;
	left: 215px;
	top: -21px;
}

.art-of-cakes .chef-block blockquote {
	font-family: "Scriptina";
	font-size: 24px;
	margin-top: -50px;
	margin-left: 60px;
}

.art-of-cakes .chef-block .quote1 {
	font-size: 70px;
	color: #b6b5b2;
	margin-top: 20px;
	margin-left: -260px;
}

.art-of-cakes .chef-block .quote2 {
	font-size: 70px;
	color: #b6b5b2;
	margin-left: 445px;
}

/*=======  perfect pancakes  =======*/

.perfect-pancakes {
	background: url("../img/perf_pan_bg.jpg") no-repeat;
}

.perfect-pancakes .time {
	background: url("../img/time_bg.jpg") no-repeat;;
	text-align: center;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 95px;
	left: 1030px;
}

.perfect-pancakes .time p:first-child {
	font-family: "Alegreya", serif;
	color: #a47d5e;
	font-size: 14px;
	padding-top: 34px;
}

.perfect-pancakes .time p:nth-child(2) {
	font-family: "Alegreya", serif;
	font-size: 80px;
	color: #dfc691;
	font-weight: bold;
	padding-left: 51px;
	padding-right: 53px;
}

.perfect-pancakes .time p:last-child {
	font-family: 'Alegreya', serif;
	color: #979285;
	padding-bottom: 34px;
}

.perfect-pancakes>div {
	position: relative;
}

.perfect-pancakes .decorative-block {
	position: absolute;
	left: 560px;
	top: 390px;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 25px;
	background-color: #fff;
}

.perfect-pancakes .dec-ext-block {
	display: inline-block;
	width: 7px;
	height: 16px;
	border-left: 1px solid #d8bba3;
	border-right: 1px solid #d8bba3;
	margin-top: 30%;
}

.perfect-pancakes .dec-in-block {
	width: 3px;
	height: 16px;
	border-right: 1px solid #d8bba3;
}

.perfect-pancakes .menu {
	padding-top: 140px;
	padding-bottom: 107px;
}

.perfect-pancakes .menu .content {
	background: #fff url("../img/mill.jpg") no-repeat right bottom;
	width: 545px;
}

.perfect-pancakes .menu .content .wrapper {
	margin-left: 63px;
	margin-top: 83px;
	margin-right: 86px;
}

.perfect-pancakes .menu .content h2 {
	font-family: "Alegreya", serif;
	font-size: 48px;
	color: #56534c;
}

.perfect-pancakes .menu .content h6 {
	font-family: "Alegreya", serif;
	font-size: 14px;
	color: #a47d5e;
	margin-top: 10px;
	margin-bottom: 70px;
}

.perfect-pancakes .menu .content p {
	font-family: "ProximaNovaRegular";
	color: #56534c;
	font-size: 14px;
}

.perfect-pancakes .slider {
	position: relative;
	display: inline-block;
	margin-left: 108px;
	margin-top: 100px;
	margin-bottom: 29px;
}

.perfect-pancakes .slider .slider-wrap {
	width: 330px;
	height: 92px;
	overflow: hidden;
}

.perfect-pancakes .slider .slider-list {
	width: 2000px;
	position: relative;
	left: 0;
	list-style: none;
}

.perfect-pancakes .slider .slide {
	float: left;
	margin-right: 30px;
}

.perfect-pancakes .slider .slide-content {
	width: 90px;
	height: 90px;
	border-radius: 45px;
	overflow: hidden;
}

.perfect-pancakes .slider .active:last-child {
	margin-right: 0;
}

.perfect-pancakes .slider .slider-controls {
	vertical-align: middle;
}

.perfect-pancakes .slider .btn {
	display: block;
	position: absolute;
	font-size: 22px;
	color: #e5dcd4;
	width: 32px;
	height: 32px;
	border: 2px solid #e5dcd4;
	border-radius: 18px;
	text-align: center;
	cursor: pointer;
}

.perfect-pancakes .slider .btn:hover {
	color: #e5dcd4;
	border-color: #e5dcd4;
}

.perfect-pancakes .slider .prev-btn {
	left: -55px;
	top: 28px;
}

.perfect-pancakes .slider .next-btn {
	left: 350px;
	top: 28px;
	color: #d8bba3;
	border-color: #d8bba3;
}

.perfect-pancakes .slider .next-btn:hover {
	color: #56534c;
	border-color: #56534c;
}

/*=======  breakfast  =======*/

.breakfast {
	background: url("../img/breakfast_bg.jpg") no-repeat;
}

.breakfast .prices {
	padding-bottom: 89px;
	margin-left: 340px; /*253*/
}

.breakfast .prices h2 {
	font-family: "Alegreya", serif;
	font-size: 48px;
	color: #fff;
	margin-top: 89px;
}

.breakfast .prices h6 {
	font-family: "Alegreya", serif;
	font-size: 14px;
	color: #c2a090;
	margin-bottom: 68px;
}

.breakfast .prices h4 {
	font-family: "Alegreya", serif;
	color: #fff;
	font-size: 24px;
}

.breakfast .prices .price {
	color: #dfc691;
	font-size: 24px;
}

.breakfast .prices div p {
	font-family: "ProximaNovaRegular";
	color: #c2beba;
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 30px;
}

.breakfast .prices img {
	display: block;
	margin-top: 14px;
	margin-bottom: 12px;
}

.breakfast .menu {
	margin-top: 89px;
}

.breakfast .menu .main-block {
	background-color: #f3f1e9;
	padding-top: 10px;
}

.breakfast .menu .main-block .wrapper {
	margin-left: 10px;
	margin-right: 10px;
	border: 1px dashed #9e9c93;
	border-bottom: none;
	padding: 43px 25px 36px 25px;
}

.breakfast .menu .main-block h2 {
	font-family: "Alegreya", serif;
	font-size: 48px;
	color: #56534c;
	text-align: center;
}

.breakfast .menu .main-block .annotation {
	font-family: "ProximaNovaRegular";
	font-size: 14px;
	color: #56534c;
	margin-top: 44px;
	text-align: center;
}

.breakfast .menu .main-block .head p:first-child {
	margin-left: 68px;
}

.breakfast .menu .main-block .head p:last-child {
	margin-right: 70px;
}

.breakfast .menu .main-block .btn {
	text-align: center;
	padding: 18px 0;
	border: 1px solid #9e9c93;
	width: 188px;
	margin: 55px auto 0 auto;
}

.breakfast .menu .main-block .btn a {
	color: #a47d5e;
	font-size: 14px;
	font-weight: bold;
}

.breakfast .menu .main-block .btn:hover {
	cursor: pointer;
	background-color: #ebe7d9;
}










